/* Botones */
.boton {
  -fx-padding: 10.0;
	-fx-background-color: firebrick;
	-fx-background-radius: 15.0px;
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.boton:hover {
    -fx-background-color: #b93838;
}

.boton:pressed {
	-fx-background-color: #a01e1e;
}
/* Fin botones */

/* ComboBox */
.comboBox {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0;
    -fx-border-style: none none solid none;
	-fx-border-color: transparent transparent black transparent;
	-fx-font-size: 16px;
    -fx-prompt-text-fill: black;
}

.comboBox .arrow {
	-fx-background-color: black;
}

.comboBox:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.comboBox:focused {
    -fx-prompt-text-fill: gray;
}
/* Fin comboBox */


/* TextField*/
.textField{
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
	-fx-border-color: transparent transparent black transparent;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-background-radius: 0.0;
    -fx-prompt-text-fill: Black;
}

/*
.textField:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}
*/

.textField:focused{
	-fx-prompt-text-fill: gray;
}
/* Fin TextField */

/* Otros */
.glyph-icon{
	-fx-fill: red;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}
